name: Build and Test Flask App

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t flask-app:latest .

      - name: Run container and test
        run: |
          docker run -d --name test-flask -p 5000:5000 flask-app:latest
          sleep 10
          curl -f http://localhost:5000/ || exit 1
          curl -f http://localhost:5000/health || exit 1
          echo "✅ Application Flask démarrée et testée avec succès !"
